<div id="body-index">
  <h1 class="title">My Cocktails</h1>

  <div class="container-card">
    <% @cocktails.each do |cocktail| %>

    <div class="card" style="width: 18rem;">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.photo.key, height: 300, width: 400, crop: :fill %>')">
          <p><%= link_to cocktail.name, cocktail_path(cocktail)  %></p>
        </div>

    </div>


    <% end %>
  </div>
</div>
